extends base

mixin options(link, icon, name, active)
  li(class = `${active ? 'side-nav--active' :' '}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{name}

mixin reviewCard(name, detail)
  .card.card__review--gap
    h4.card__review--heading #{name}
    .card__review--data
      span #{detail}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +options('/me','settings', 'Settings', false)
          +options('/myReview','star',' My reviews', false)

        - if(user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +options('#','map','Manage tour', false)
              +options('#','users','Manage users', false)
              +options('#','star','Manage reviews', false)
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Manage Tours
          .card-container
            each tour in tours
              .card
                .card__header
                  .card__picture.size_small
                    .card__picture-overlay &nbsp;
                    img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt= `${tour.name}`)

                .card__details
                  p.card__text.text_size_large= tour.name

                .card__footer
                  a.btn.btn--green.btn--small.align--center(href= '#') Edit Tour